.App {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fbeb64;
  color: black;
}

li {
  list-style: none;
}

.Wrapper {
  display: flex;
  justify-content: space-around;
}

.Card {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: space-evenly;
}

.team-img{
  max-width: 3%;
  max-height: 3%;
}